.filter {
  position: relative;
  top: 22px;
  @media screen and (min-width: 768px) {
    top: 86px;
  }
}

.search-btn {
  cursor: pointer;
  z-index: 1;
  border: 2px solid var(--secondary-text-color);
  background: #c20000;
  border-radius: 10px;
  padding: 9px;
  box-shadow: 0 0 10px #27262866;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--light-color);
  position: absolute;
  left: 66px;
  &:hover {
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
      0px 2px 2px rgb(0 0 0 / 12%);
    background-color: #a50000;
  }
  @media screen and (min-width: 768px) {
    left: 60px;
    top: -65px;
  }
}

.icon-droplet {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.filter__wrap {
  display: none;
}

.filter__wrap.is-open {
  display: block;
  z-index: 1;
  position: absolute;
  width: 100%;

  height: fit-content;
}

.genre-search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;
  padding: 10px;
  max-width: 250px;

  background-color: #ffffff;
  opacity: 0.6;
  border: 2px solid var(--secondary-text-color);
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    opacity: 1;
    background-color: inherit;
    border: 0;
    border-radius: 0;

    margin-top: 0;
    max-width: max-content;

    border: 2px solid var(--secondary-text-color);
    background: #c20000;
    border-radius: 10px;
    padding: 9px;
    box-shadow: 0 0 10px #27262866;
  }

  @media screen and (min-width: 1280px) {
  }
}

.search-label {
  color: var(--main-text-color);
  font-weight: 500;
  margin: 5px 0px;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    color: var(--light-color);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

select {
  border: 1px solid #c20000;
  border-radius: 5px;
  overflow-x: scroll;
}

option {
  padding: 20px;
  background-color: rgb(246, 242, 238);
}

.first-opt {
  background-color: rgb(235, 224, 245);
}
