
  footer {
    opacity: 0.6;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color:var(--light-color);
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    font-size: 19px;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);

      
      @media screen and (max-width: 767px) {
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.18;
      }
    
      @media screen and (min-width: 768px) {
        display: flex;
        font-size: 16px;
        line-height: 1.14;
      }
  }
  footer:hover{
    opacity: 0.9;
  }
  .footer-copyright {

    color: #545454;
    
    justify-content: center;
    text-align: center;
    // align-items: center;
  
    @media screen and (max-width: 767px) {
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.18;
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
      font-size: 16px;
      line-height: 1.14;
    }
  }
  
  .footer-copyright--right {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  
    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  
    @media screen and (min-width: 768px) {
      margin-left: 3px;
    }
  
    @media screen and (min-width: 1024px) {
      position: relative;
    }
  }
  
  .footer-copyright--text {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  
  //!============ btn GoIT Students
  .footer-copyright--btn {
    // position: relative;
    color: #545454;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration-line: underline;
  
    &:hover,
    &:focus {
      color: #ff6b08;
    }
  }
 
  //!============ heart
  .heart {
    animation: heartbeat 1s infinite;
    background-color: var(--accent-color);
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
  
    &:before,
    &:after {
      content: '';
      background-color: var(--accent-color);
      border-radius: 50%;
      height: 10px;
      position: absolute;
      width: 10px;
    }
  
    &:before {
      top: -5px;
      left: 0;
    }
  
    &:after {
      left: 5px;
      top: 0;
    }
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    20% {
      transform: scale(1.1) rotate(-45deg);
    }
    40% {
      transform: scale(1.2) rotate(-45deg);
    }
  }
  