<!-- <div> -->
  <!-- login form
  <form id="login_form">
    <label>
      email
      <input type="text" id="email" />
    </label>
    <label>
      password
      <input type="text" id="password" />
    </label>
    <button type="submit" id="submit_login">submit</button>
  </form>
</div> -->

<!-- <div>
  create account form
  <form id="register_form">
    <label>
      Name
      <input type="text" id="reg_name" />
    </label>
    <label>
      email
      <input type="text" id="reg_email" />
    </label>
    <label>
      password
      <input type="text" id="reg_password" />
    </label>

    <button type="submit" id="submit_register">submit</button>
  </form>
</div> -->

<!-- <div class="test">
  <form id="test_form">
    <label>
      test string
      <input type="text" id="test_input" />
    </label>
    <button type="submit_test">submit</button>
  </form>
</div> -->
